*,
*::before,
*::after{
    box-sizing: border-box;
}

.wrapper{
    
    background-position: center;
    margin: auto;
    width: 1000px;
    
}

nav  {
    text-align: center;
    padding: 12px 0;
    position: absolute;
    top: 39.5%;
    left: 8.4%;
    
}


nav ul li{
    display: inline-block;
    width: 350px;
    border-right: 1px solid black;
    font-weight:lighter;
    
}
nav ul li a{
    color: black;
    text-decoration:none

}


body{
    background-color: #a6d3ce;
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero{
    position: relative;
    margin:0 auto;
}

.hero h1 {
    color:  white;
    text-align: center;
    font-size: 50px;
    margin: 0;
    font-weight: normal;
    position: absolute;
    top: 60%;
    left: 35%;



}

.hero img {
    width: 100%;
    height: auto;
    display: block;

}
.stage{
    background-color: #daede9;
    
}

#image{
    height: 180px;
    width: 170px;
    float: left;
}


.hero {
    margin-bottom: 50px;
}
h2 {
    font-weight: bold;
    font-size: 20px;
}
h3 {
    font-weight: bold;
    font-size: 20px;
}
p{
    font-size: 12px;
    left: 100%;
}
h4{
    font-weight: bold;
    font-size: 20px;
}



fieldset {
  border: 1px solid black; 
  padding: 15px;
  margin: 0;
}

h5{
    font-size: 15px;
}


.contact-box label {
  margin-bottom: 20px;
}

.contact-box input[type="text"],
.contact-box input[type="email"],
.contact-box textarea {
  width: 100%;
  padding: 6px;
  box-sizing: border-box; 
}
#message {
    height: 100px;
}


  button {
  cursor: pointer;  
  width: 60px;
  padding: 6px;
  background-color:#d7ebe9;
  margin-bottom: 20px;
}

.button-wrapper {
    margin-top: 15px;
}



footer {
    color: black;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 0.9em;
    margin-top: 20px;
    
}
