/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* styling css */

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

/* max width 1200px */

header,
main,
footer {
  max-width: 1200px;
  margin: 0 auto;
}

/* styling logo */

.log {
  background-color: #c78c06;
  height: 200px;
  border: 12px solid #222;
}

/* styling navigations */

nav {
  background-color: #222;
  justify-items: center;
  /* height: 250px; */
  /* display: grid; */
  /* gap: 94px; */
  display: flex;
  align-items: center;
  flex-direction: column;
}
.search {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.material-symbols-outlined {
  color: #c78c06;
  background-color: #222;
  /* border-color: #c78c06; */
  border: 1px solid #c78c06;
}

.search label {
  position: absolute;
  /* left: 10000000px; */
  top: -100px;
}

nav li a {
  display: block;
  text-decoration: none;
  padding: 7px 0;
  font-size: 1.1rem;
  color: #c78c06;
}

nav form {
  width: 100%;
}
.search input {
  flex: 1;
  height: 30px;
}
nav form {
  width: 96%;
}

nav {
  padding: 1px 0;
}

nav li {
  margin: 22px 0;
}
nav li:first-child a {
  background-color: #c78c06;
  color: #222;
  padding: 45px 0;
}
nav li:first-child a {
  margin-top: -150px;
}

/* styling header */

.header {
  position: relative;
  background-color: #ffe6ac;
}

/* styling banner */

#mainbanner {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

/* styling h1 */

.wrapper h1 {
  font-size: 3.5rem;
  font-weight: 650;
  margin: 0px;
  color: white;
  line-height: 1.5;
}

/* styling connect button  */

.connect {
  background-color: #c78c06;
  text-decoration: none;
  color: #222;
}
.connect {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background: #c78c06;
  text-decoration: none;
  margin-top: 5px;
}
.connect .arrow {
  color: #000;
  font-size: 3.5rem;
  background-color: #c78c06;
}

/* styling p */

.wrapper3 p {
  color: white;
}

.header {
  position: relative;
}

/* overlay over the image */
.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0.7, 0.7, 0.7, 0.6);
  height: 427px;
  margin-top: 60px;
}
.wrapper3 {
  position: absolute;
  top: 20%;
  margin: 15px 15px;
  z-index: 1;
}

/* styling p */
.wrapper3 p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 20px;
}

/* styling the about section */
/* styling the image  */

#aboutus {
  width: 100%;
}

.about {
  background-color: #ffe6ac;
  padding: 10px;
}

.aboutus h2 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.aboutus p {
  margin-bottom: 15px;
  line-height: 1.5;
}

/* styling the services section */

.services h2 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 5px;
}

#digital {
  width: 100%;
}

/* styling cards */

.cardcontent {
  background-color: #ffe6ac;
}
.theservices {
  background-color: #ffe6ac;
}

.cardcontent h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.cardcontent P {
  margin-bottom: 10px;
  line-height: 1.3;
  margin-left: 10px;
}

.arrow {
  color: white;
  background-color: #222;
  border: #222;
}

/* styling the plans */

.servicedigital {
  color: white;
  background-color: #222;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  height: 80px;
}
.servicedigital .arrow {
  font-size: 3.5rem;
}

.servicemarketing {
  color: white;
  background-color: #222;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  height: 70px;
}
.servicemarketing .arrow {
  font-size: 3.5rem;
}

.servicevideo {
  color: white;
  background-color: #222;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  height: 70px;
}

.servicevideo .arrow {
  font-size: 3.5rem;
}

.serviceweb {
  color: white;
  background-color: #222;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  height: 70px;
}

.serviceweb .arrow {
  font-size: 3.5rem;
}
.serviceprint {
  color: white;
  background-color: #222;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  height: 70px;
}

.serviceprint .arrow {
  font-size: 3.5rem;
}

/* styling the remaining services background color, h3, p */
/* styling marketing  */

#marketing {
  width: 100%;
}

.marketing h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.marketing p {
  margin-bottom: 10px;
  line-height: 1.3;
  margin-left: 10px;
}
.marketing {
  background-color: #ffe6ac;
  margin-top: 10px;
}

/* styling video  */

#video {
  width: 100%;
}

.video h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.video p {
  margin-bottom: 10px;
  line-height: 1.3;
  margin-left: 10px;
}
.video {
  background-color: #ffe6ac;
  margin-top: 10px;
}
/* styling web */

#web {
  width: 100%;
}

.web h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.web p {
  margin-bottom: 10px;
  line-height: 1.3;
  margin-left: 10px;
}
.web {
  background-color: #ffe6ac;
  margin-top: 10px;
}

/* styling print  */

#print {
  width: 100%;
}

.print h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.print p {
  margin-bottom: 10px;
  line-height: 1.3;
  margin-left: 10px;
}
.print {
  background-color: #ffe6ac;
  margin-top: 10px;
}

/* styling vision */

.visioninfo {
  margin-top: 20px;
  background-image: url(../images/vision.jpg);
  background-size: cover;
  background-position: center;
  max-width: 1200px;
}

.vision h2 {
  color: white;
  font-size: 30px;
  font-weight: 700;
  padding-top: 50px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.vision p {
  color: white;
  margin-left: 10px;
  line-height: 1.5;
}

.vision-btn {
  color: white;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 20px;
  padding: 18px 18px;
  border: 1px solid #c78c06;
  font-size: 1.3rem;
  background: rgba(0.7, 0.7, 0.7, 0.6);
  height: 50px;
  margin-bottom: 15px;
}

.vision-btn .arrow {
  font-size: 3.3rem;
  background-color: transparent;
}

/* styling the Team */

.team h2 {
  font-size: 40px;
  font-weight: 700;
  padding-top: 40px;
  margin-bottom: 20px;
  margin-left: 5px;
}

#john {
  width: 100%;
  display: block;
}
.teaminfo {
  background-color: #ffe6ac;
}

.johninfo h3 {
  font-size: 30px;
  font-weight: 700;
  padding-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.johninfo h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 5px;
  border-bottom: 2px solid #c78c06;
  padding-bottom: 5px;
}
.johninfo p {
  margin-left: 5px;
  padding-bottom: 30px;
  line-height: 1.5;
}

#bob {
  display: block;
  padding-top: 10px;
  width: 100%;
}

.bobinfo {
  background-color: #ffe6ac;
}

.bobinfo h3 {
  font-size: 30px;
  font-weight: 700;
  padding-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.bobinfo h4 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 5px;
  border-bottom: 2px solid #c78c06;
  padding-bottom: 5px;
}
.bobinfo p {
  margin-left: 5px;
  padding-bottom: 30px;
  line-height: 1.5;
}
/* styling contact */

.contactinfo h2 {
  font-size: 40px;
  font-weight: 700;
  padding-top: 40px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.wrapper2 h3 {
  font-size: 30px;
  font-weight: 700;
  padding-top: 10px;
  margin-bottom: 20px;
  margin-left: 5px;
}
/* Contact Section */
.contactinfo {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.contactinfo h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
}

.wrapper2 h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* styling contact infos */

.contactinfo form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactinfo label {
  font-size: 15px;
}

.contactinfo textarea {
  width: 100%;
  height: 150px;
}

/* styling button*/
.contactinfo button {
  background-color: #222;
  color: #c78c06;
  font-size: 20px;
  cursor: pointer;
  border: none;
  margin-top: 10px;

  /* styling the hours of operation */
}
.operation h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 20px;
}

.operation table {
  width: 100%;
}

.operation th {
  background-color: #ffe6ac;
  padding: 15px;
  border: 1px solid #222;
}

.operation td {
  padding: 20px;
  border: 1px solid #222;
}

/* styling location */

.location h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 20px;
}
iframe {
  width: 100%;
}

/* styling footer */

footer {
  color: #c78c06;
  background-color: #222;
  line-height: 2.5;
  padding-left: 20px;
}

footer p a {
  color: #c78c06;
}

/* styling media min width 760px and above */

@media (min-width: 760px) {
  /* styling logo */

  .log {
    height: 20px;
    background-color: #222;
    padding-left: 130px;
  }

  /* styling navs */

  nav {
    height: 100px;
    justify-content: center;
  }

  nav ul {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  nav li:first-child a {
    background-color: #c78c06;
    padding: 10px 30px;
    margin-top: 0;
  }

  nav form {
    margin-left: auto;
    width: auto;
    margin-right: 70px;
  }

  .search {
  }

  nav {
    flex-direction: row;
    justify-items: center;
    padding-left: 300px;
  }

  /* styling about section */

  #aboutus {
    width: 450px;
    padding-left: 130px;
    display: block;
    height: 240px;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
  .aboutimage,
  .aboutus {
    align-self: start;
  }

  .aboutus h2 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .aboutus p {
    padding-top: 10px;
    line-height: 1.3;
  }

  /* styling services section */

  .services {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    grid-template-areas:
      "title   title   title"
      "digital marketing marketing"
      "video   web     print";
    gap: 10px;
  }

  .ourservice {
    grid-area: title;
  }

  .cardcontent {
    grid-area: digital;
  }

  .marketing {
    grid-area: marketing;
  }

  .video {
    grid-area: video;
  }

  .web {
    grid-area: web;
  }

  .print {
    grid-area: print;
  }

  .card {
    max-width: 400px;
  }
  .servicedigital {
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.5rem;
    height: 70px;
    width: 80%;
  }
  .servicemarketing {
    justify-content: center;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 1.5rem;
    height: 70px;
    width: 80%;
  }
  .servicevideo {
    justify-content: center;
    margin-left: 20px;
    font-size: 1.5rem;
    height: 70px;
    width: 80%;
  }
  .serviceweb {
    justify-content: center;
    margin-left: 20px;
    font-size: 1.5rem;
    height: 70px;
    width: 80%;
  }
  .serviceprint {
    justify-content: center;
    margin-left: 20px;
    font-size: 1.5rem;
    height: 70px;
    width: 80%;
  }

  #marketing {
    width: 100%;
  }

  .marketing h3 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  /* styling vision section */

  .visioninfo h2 {
    padding-left: 50px;
  }
  .visioninfo p {
    padding-left: 50px;
  }
  .vision-btn {
    margin-left: 60px;
  }

  /* styling team john and bob */

  .teaminfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .bobif {
    display: flex;
    flex-direction: row-reverse;
  }
  #bob {
    padding-top: 0px;
  }
  /* styling contact */

  .contactinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title"
      "form map"
      "hours hours";
    gap: 20px;
  }

  .wrapper2 {
    grid-area: form;
  }

  .location {
    grid-area: map;
  }
  .operation {
    grid-area: hours;
  }

  /* styling h1 and overlay */

  .wrapper3 {
    position: absolute;
    top: 25%;
    left: 5%;
    max-width: 800px;
  }
  .header::before {
    margin-top: 60px;
    margin-left: 70px;
    margin-right: 105px;
  }

  .wrapper3 h1 {
    padding-left: 10px;
  }
  .wrapper3 p {
    padding-left: 10px;
  }

  .connect {
    margin-left: 10px;
  }
}
